@model AGS.ERP.Application.ViewModel.ClienteEnderecoViewModel

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#CidadeId").change(function () {
            obterEstado($(this).val());
        });
    });
    //chamada ajax para a Action GetFilhoByPai
    //passando como parâmetro o idPai selecionado
        function obterEstado(idCidade) {
        var url = '@Url.Content("~/")' + "Cliente/GetStateByCity";
        $.getJSON(url, { idCidade: idCidade }, obterEstadoCallBack);
    }
    //função que irá ser chamada quando terminar
    //a chamada ajax
    function obterEstadoCallBack(json) {
        //Limpar os itens que são maiores que 0
        //Ou seja: não retirar o primeiro item
        //$("#UF :gt(0)").remove();
        $("#UF").empty();
        $(json).each(function () {
            //adicionando as opções de acordo com o retorno
            $("#UF").append("<option value='" + this.uf + "'>" + this.nome + "</option>");
        });
    }
</script>


<h4>Endereco</h4>
<hr />
<div class="form-group">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CEP" class="control-label"></label>
        <input asp-for="CEP" class="form-control" />
        <span asp-validation-for="CEP" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Logradouro" class="control-label"></label>
        <input asp-for="Logradouro" class="form-control" />
        <span asp-validation-for="Logradouro" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Numero" class="control-label"></label>
        <input asp-for="Numero" class="form-control" />
        <span asp-validation-for="Numero" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Complemento" class="control-label"></label>
        <input asp-for="Complemento" class="form-control" />
        <span asp-validation-for="Complemento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bairro" class="control-label"></label>
        <input asp-for="Bairro" class="form-control" />
        <span asp-validation-for="Bairro" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TipoEndereco" class="control-label"></label>
        <select asp-for="TipoEndereco" class="form-control" asp-items="ViewBag.TipoEndereco"></select>
        <span asp-validation-for="TipoEndereco" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CidadeId" class="control-label"></label>
        <select asp-for="CidadeId" class="form-control" asp-items="ViewBag.CidadeId">
            <option selected="selected">Selecione uma Cidade</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="UF" class="control-label"></label>
        <select asp-for="UF" id="UF" class="form-control">
            <option selected="selected" value="">Estado</option>
        </select>
    </div>
</div>
