@model AGS.ERP.Application.ViewModel.ClienteEnderecoViewModel

@{
    ViewData["Title"] = "Create";
}

@Html.Partial("_CabecalhoCliente")

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="FormCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Dados Pessoais
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <input type="hidden" name="ClienteId" id="ClienteId" value="0" />

                            <div class="form-group col-md-3">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="TipoPessoa" class="control-label">Tipo Pessoa</label>
                                <select id="TipoPessoa" class="form-control" onchange="selecionaTipoPessoa(this.value)">
                                    <option value="F">Física</option>
                                    <option value="J">Jurídica</option>
                                </select>

                            </div>

                            <div id="DIVCPF" hidden="hidden" class="form-group col-md-3">
                                <label asp-for="CPF" class="control-label"></label>
                                <input asp-for="CPF" class="form-control" />
                                <span asp-validation-for="CPF" class="text-danger"></span>
                            </div>
                            <div id="DIVCNPJ" class="form-group col-md-3">
                                <label asp-for="CNPJ" class="control-label"></label>
                                <input asp-for="CNPJ" class="form-control" />
                                <span asp-validation-for="CNPJ" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-9">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                Endereço
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div id="DivCamposEndereco">
                                @Html.Partial("~/Views/Endereco/_EnderecoCliente.cshtml")
                            </div>

                            <div class="panel-body" id="Enderecos">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <button id="btnSalvarCliente" onclick="SalvarCliente()" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-floppy-saved"></span> Salvar
        </button>
        <a asp-action="Index" class="btn btn-danger btn-sm">
            <i class="fas fa-times"></i> Cancelar
        </a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/Cliente.js"></script>
    <script src="~/js/Endereco.js"></script>
    <script>
        $(document).ready(function () {
            $("#TipoPessoa").val('F');
        });
    </script>


}




